.modal-box {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #FFA7A4;
  margin: 0 auto;
  border-width: 0;
  border-radius: 1.6rem;
  position: fixed;
  z-index: 9999;
  top: -50%;
  transition: top 1s ease; }
      .modal-box.visible {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .modal-box__close {
    width: 3.2rem;
    position: relative;
    border-radius: 50%;
    left: 100%;
    margin-left: -3.2rem; }
      .modal-box__watch-video {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem; }
  .modal-box__close, .modal-box__watch-video {
    height: 3.2rem; }

.modal-txt-container {
  width: 100%;
  height: 20rem;
  padding: 0 1rem;
  overflow: auto; }
    .modal-txt-container__text {
    padding: .5rem; }
    
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%; }

body {
  font-family: Helvetica, Arial;
  font-size: 1.6rem;
  background-color: #E8DD95;
  color: #444;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 32rem; }

.btn, .btn-default {
  background-color: #B283E8;
  color: white;
  border-width: 0;
  cursor: pointer;
  outline: none;
  font-weight: bold; }
  .btn-default {
    border-radius: 1rem; }
  .btn:active, .btn-default:active {
    box-shadow: inset 0 0 .5rem black; }

.show-modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  height: 3.2rem; }

@media only screen and (min-width: 48rem) {
    .modal-box {
      max-width: 50rem;
      min-height: 30rem; } 
      .modal-txt-container__text {
        width: 50%;
        float: left; } }

@media only screen and (max-width: 48rem) {
    .modal-box {
      width: 90%;
      height: 90%; } 
      .modal-box__close {
        display: none; } 
    .modal-txt-container {
      height: 90%;
      padding-top: 1rem; } }

/*# sourceMappingURL=style.css.map */
