// IMPORTS
@import "partials/media-queries-mixins";
@import "partials/useful-mixins";
@import "partials/theme-colors";
@import "partials/fonts";
@import "partials/modal-box";

// All variables / mixins used below are described in 'partials'

*, *:before, *:after {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;   // it makes 1rem = 10px;
    width: 100%;
    height: 100%;
}
body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: $main-background-color;
    color: $main-font-color;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 32rem;   // 320 px is common minimum device width
}
.btn{
    background-color: $main-button-color;
    color: white;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-weight: bold;

    &-default{
        @extend .btn;
        border-radius: 1rem;
    }
    &:active{
        box-shadow: inset 0 0 .5rem black;
    }
}

.show-modal{
    @include vh-center;
    position: relative;
    height: $modal-close-diameter;
}