// IMPORTANT NOTE:
//    These mixins can be used in inline style.
//    If you place inline media-queries, then please use 'sass-media_query_combiner'
//
// Media queries:
//    s = small
//    m = medium
//    l = large
//
// Prefixes:
//    at = above the  (eg. atm = above the medium)
//    ut = up to      (eg. utm = up to medium)
//
// Think in pixels but work with rems.
// IMPORTANT NOTE:
//    Because rem unit in media query behaves slightly different,
//    we need to set eg. 'max-width: ($breakpoint/16)+rem'
//    because as we know, standard font-size provided by user-agent is 16px
//    then basically 1 rem equals to 16px, that's why eg.:
//         768 / 16 + 'rem' = 48 rem
//    rem is better than pixel because pixel is fixed unit
//    when rem is relative to font-size of root element(html)
//---------------------------------------------------------------------------
// Please describe your preferred breakpoints in PX but without unit, as below.
//---------------------------------------------------------------------------

$s: 768;

@mixin respond-to($breakpoint){
    @if ( $breakpoint == 's' ){
        @media only screen and (max-width: ($s/16)+rem){
            @content;
        }
    }
    @else if ( $breakpoint == 'ats' ){
        @media only screen and (min-width: ($s/16)+rem){
            @content;
        }
    }
}