$modal-background-color: #FFA7A4;
// because closing button is a circle, we define diameter which is his width and height
$modal-close-diameter: $base-font-size*2;

.modal-box{
    @include h-center; // vertical center from 'partials/useful-mixins'
    background-color: $modal-background-color;
    margin: 0 auto;
    border-width: 0;
    border-radius: $modal-close-diameter/2; // same border radius as close button - to fit by border
    position: fixed; // popups are almost always fixed
    z-index: 9999; // above everything
    top: -50%;
    transition: top 1s ease;

    @include respond-to('ats'){
        max-width: 50rem;
        min-height: 30rem;
    }
    @include respond-to('s'){
        width: 90%;
        height: 90%;
    }

    &.visible{
        @include vh-center;
    }
    // modal popup close button
    &__close{
        width: $modal-close-diameter; // height is defined below, same as watch-video button
        position: relative;
        border-radius: 50%; // it will always make circle
        // place closing button in right corner
        left: 100%;
        margin-left: -$modal-close-diameter;

        @include respond-to('s'){ // do not display at small devices
            display: none;
        }
    }
    // modal popup watch-video button
    &__watch-video{
        @include h-center; // horizontal center from 'partials/useful-mixins'
        position: absolute;
        bottom: 0; // place at the bottom
        margin-bottom: 1rem;
    }
    // properties same for both buttons
    &__close, &__watch-video{
        height: $modal-close-diameter;
    }
}
.modal-txt-container{
    width: 100%;
    height: 20rem;
    padding: 0 1rem;
    overflow: auto; // scrollbar

    @include respond-to('s'){
        height: 90%; // 10% is enough for watch-video button
        padding-top: 1rem; // when closing button disappears we need to compensate difference
    }

    &__text{
        padding: .5rem;

        @include respond-to('ats'){
            // above the small devices resolution make it 2 columns layout
            width: 50%;
            float: left;
        }
    }
}