// Please place here all theme colors for easy reuse / update.
//---------------------------------------------------------------------------

$main-background-color: #E8DD95;
$main-font-color: #444;
$main-button-color: #B283E8;