// Please place here all 'useful', reusable mixins
//---------------------------------------------------------------------------

// vertical center, method: translateY
@mixin v-center{
    position: relative;
    top: 50%;
    // old Android / Safari / Chrome
    -webkit-transform: translateY(-50%);
    // IE9
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// horizontal center, method: translateX
@mixin h-center{
    left: 50%;
    // old Android / Safari / Chrome
    -webkit-transform: translateX(-50%);
    // IE9
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

// both horizontal and vertical center, method: translateX, translateY
@mixin vh-center{
    top: 50%;
    left: 50%;
    // old Android / Safari / Chrome
    -webkit-transform: translateX(-50%) translateY(-50%);
    // IE9
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}